.logo {
    max-width: 50px;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
    padding: 0;
    cursor: pointer;
}

.textContainer {
    color: #9f66d8;
    margin-left: 8px;
}

h2 {
    font-size: 1rem;
}

@media (max-width: 830px) {
    .textContainer {
        display: none;
    }
}