.logo {
    max-width: 50px;
    padding: 8px;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
    padding: 0;
    cursor: pointer;
}

.textContainerLight {
    color: #9f66d8;
    margin-left: 8px;
}

.textContainerDark {
    color: #5c6771;
    margin-left: 8px;
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

@media (max-width: 1040px) {
    .textContainerLight {
        display: none;
    }
    .textContainerDark {
        display: none;
    }
}